*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    
    
}

a{
    text-decoration: none ;
}
.container{
    max-width: 73vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    
}

.header_container{
    margin-bottom: 2.8rem ;
}

.header_title{
    margin-bottom: 1.2rem;
    font-size: 3.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;}

.header_discription{
    text-align: center;
    max-width: 568px;
    font-size: 1.2rem;
    color: rgb(66, 66, 66);
    margin: auto;
}

.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1,1fr);
    

}

@media(min-width:935px){
    .main_container{
        grid-template-columns: repeat(2,1fr);
        
    }
}

@media(min-width:1380px){
    .main_container{
        grid-template-columns: repeat(3,1fr);
        
    }
}

@media(min-width:1340px){
    .main_container{
        grid-template-columns: repeat(4,1fr);
        
    }
}

.card_container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(168, 164, 164);
    border-radius: 5px;
    background-color: #ffffff;
}

.card_img_container{
    position: relative;
    overflow: hidden;
    height: 11rem;
}

@media(min-width:768px){
    .card_img_container{
        height: 12rem;
    }
}

.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin: 1.5rem;
}

.card_container:hover .card_image{
     transform: scale(1.1);
     transition-duration: 200ms;
}

.card_title{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    line-height: 1.5rem;
    color: rgb(36, 34, 34);
}
.card_title_anchor:hover .card_title{
    color: rgb(54, 54, 184);
}

.card_discription{
    color: rgb(47, 47, 47);
    font-size: 1.2rem;
    
}

.card_footer_container{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    align-items: end;
    padding-bottom: 1.5rem;
}
.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.avatar_container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(159, 155, 155);
    border-radius: 50%;
    background-color: rgb(161, 161, 161);
}

.author_info_container{
    display: flex;
    flex-direction: column;
}

.author_name{
    font-size: 1.2rem;
    color: rgb(84, 84, 224);
}

.author_date{
    font-size: 1rem;
    color: rgb(70, 67, 67);
}

.card_tag_container{
     font-size: 1.1rem;
     border: 1px solid rgb(108, 108, 108);
     border-radius: 2px;
     line-height: 1.3rem;
     padding: 0.25rem 0.5rem;
     color: rgb(49, 49, 49);
}